<ion-header>
  <ion-toolbar>
    <ion-title class="centralized bold"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="content animate__animated animate__fadeInLeft">
    <img
      class="img-item"
      src="https://cdn-icons-png.flaticon.com/512/4590/4590171.png"
      alt="Imagem de Solidariedade"
    />
    <p>
      Existem pessoas precisando muito da sua ajuda! Veja abaixo como ajudar
    </p>

    <ion-card [routerLink]="['/tabs/donate']">
      <ion-item>
        <ion-thumbnail slot="start"
          ><img
            src="https://drive.google.com/uc?id=1beDxDVrPMw9F-liUF9y1Kyf7b0i_fko1"
            alt="Imagem do card de doação"
          />
        </ion-thumbnail>
        <ion-label>Quero doar</ion-label>
      </ion-item>
    </ion-card>

    <ion-card [routerLink]="['/tabs/RecieveDonation']">
      <ion-item>
        <ion-thumbnail slot="start"
          ><img
            src="https://drive.google.com/uc?id=1rAoVaWVzRzXbyFiKN33fnmov2XhCzagP"
            alt="Imagem do card de doação"
          />
        </ion-thumbnail>
        <ion-label>Preciso de doação</ion-label>
      </ion-item>
    </ion-card>
  </main>
</ion-content>
